Source: friking-shark
Section: game
Priority: extra
Maintainer: Cleto Martín <cleto.martin@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/friking-shark/

Package: friking-shark
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Flying Shark arcade video game remake
 <insert long description, indented with spaces>

Package: friking-shark-data
Architecture: all
Description: Flying Shark arcade video game remake (data files)
 <insert long description, indented with spaces>
